html {
  font-family: $body_font !important;
  // The important is needed because we're appending a font-name class to the HTML tag
  // to apply custom fonts from the wizard
  font-weight: $body_font_weight;
  font-size: $normal-font-size;

  &.text-size-smaller {
    font-size: $smaller-font-size;
  }

  &.text-size-larger {
    font-size: $larger-font-size;
  }

  &.text-size-largest {
    font-size: $largest-font-size;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline_font;
  font-weight: $headline_font_weight;
}

pre,
code,
kbd,
samp,
.modal.history-modal.markdown {
  font-family: $monospaced_font;
  font-weight: $monospaced_font_weight;
}
